VITE_FIREBASE_API_KEY=여기에_apiKey_입력
VITE_FIREBASE_AUTH_DOMAIN=여기에_authDomain_입력
VITE_FIREBASE_PROJECT_ID=여기에_projectId_입력
VITE_FIREBASE_STORAGE_BUCKET=여기에_storageBucket_입력
VITE_FIREBASE_MESSAGING_SENDER_ID=여기에_messagingSenderId_입력
VITE_FIREBASE_APP_ID=여기에_appId_입력
